{% if message.author == user %}
    <div class="message-item outgoing">
        <div class="message-body">
            <div class="message-content">
                <p>{{ message.body }}</p>
            </div>
            <div class="message-author-info">
                <strong>{{ message.author.steam_nickname }}</strong>
                <span>@{{ message.author.slug }}</span>
            </div>
        </div>
        <div class="message-avatar">
            <img src="{{ message.author.steam_avatar|default:'https://media.steampowered.com/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg' }}" class="rounded-circle" alt="Avatar">
        </div>
    </div>
{% else %}
    <div class="message-item incoming">
        <div class="message-avatar">
            <img src="{{ message.author.steam_avatar|default:'https://media.steampowered.com/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg' }}" class="rounded-circle" alt="Avatar">
        </div>
        <div class="message-body">
            <div class="message-content">
                <p>{{ message.body }}</p>
            </div>
            <div class="message-author-info">
                <strong>{{ message.author.steam_nickname }}</strong>
                <span>@{{ message.author.slug }}</span>
            </div>
        </div>
    </div>
{% endif %}